<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nature King</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon-32x32.png">
    <script src="/javascripts/main.js" type="text/javascript"></script>
    
  </head>
    <body>
        <!-- <img id="logo" src="https://farm8.staticflickr.com/7865/33422102478_8c24925bd5_m.jpg"> -->
        
        <header>
            <div class="container-fluid merger">
                <div class="logo-container">
                    <a href="#home"><img id="logo" src="/images/NatureKingLogo.png"></a>
                </div>
                <button class="hamburger"><i class="fas fa-bars"></i></button>
                <div class="navs-container animated">
                    <button class="close-nav"><i class="fas fa-angle-right"></i></button>
                    <div class="nav-one">
                        <div class="slope">
                            <div class="turned-div"></div>
                        </div>
                        <div class="nav-one-child">
                            <div class="social-links">
                                <a href="https://www.facebook.com/naturekingofrockford/"><i class="fab fa-facebook"></i></a>
                                <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                <a href="http://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <div class="phone-link">
                                <div class="phone-logo-cont">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="phone-desc-div">
                                    <h6>Call Us:</h6>
                                    <a href="tel: 1-779-770-6673">1-779-771-2798</a>
                                </div>
                            </div>
                            <div class="bus-hrs-div">
                                <div class="hrs-logo">
                                    <i class="fas fa-clock"></i>
                                </div>
                                <div class="bus-hours">
                                    <h6>Business Hrs:</h6>
                                    <p>Mon-Sat: 9AM-6PM</p>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="nav-two">
                        <div class="main-nav-cont">
                            <ul class="main-nav">
                                <li class="nav-items active"><a class="nav-link" href="#home">HOME</a></li>
                                <li class="nav-items"><a class="nav-link" href="#about">ABOUT US</a></li>
                                <li class="nav-items"><a class="nav-link" href="#services">SERVICES</a></li>
                                <li class="nav-items"><a class="nav-link" href="#contact">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        
        